# 通用开发环境文件
.vs/
.vscode/
.idea/
*.user
*.suo
*.DotSettings.user

# 编译输出

src/SSZ.Infrastructure/bin
src/SSZ.Infrastructure/obj
src/SSZ.Core/bin
src/SSZ.Core/obj
src/SSZ.Web/bin
src/SSZ.Web/obj
src/SSZ.UseCases/bin
src/SSZ.UseCases/obj


tests/SSZ.FunctionalTests/bin
tests/SSZ.FunctionalTests/obj
tests/SSZ.IntegrationTests/bin
tests/SSZ.IntegrationTests/obj
tests/SSZ.UnitTests/bin
tests/SSZ.UnitTests/obj
test/bin
test/obj
*.dll
*.pdb
*.exe

# 依赖目录
**/packages/
**/.npm/
**/.nuget/

# 日志与缓存
*.log
src/SSZ.Web/*.txt
*.cache
*.swp
.DS_Store

# 测试相关
# /tests/TestResults/*
# !/tests/TestResults/.gitkeep
# *.coverage
# *.trx

# 配置文件覆盖
appsettings.Development.json
appsettings.Local.json

# 特殊文件保留
!/.github/workflows/test.yml
!/.editorconfig
!/CODE_OF_CONDUCT.md

# 自动生成文档
**/docs/api/
**/docs/_site/

# 容器相关
docker-compose.override.yml
**/.dockerignore
**/Dockerfile.local

# 前端构建产物
/wwwroot/
/dist/
/node_modules/
