<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
         <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <!-- 🚫 排除测试代码 -->
                <ModulePath>.*Tests.dll</ModulePath>
                <!-- 🚫 排除系统和第三方库 -->
                <ModulePath>.*FluentValidation.dll</ModulePath>
                <ModulePath>.*Shouldly.dll</ModulePath>
                <ModulePath>.*diffengine.dll</ModulePath>
              </Exclude>
            </ModulePaths>
         </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
